


body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    background: #fff;
    color: #6d6d6d;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased !important;
}


/* ------------------------------------------------
TYPOGRAPHY
--------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    color: #202020;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 42px;
    font-weight: 900;
    line-height: 46px;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
}

h3 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
}



/* --------------------------------------
LINK STYLE
------------------------------------------*/
a {
    color           : #6145d6;
    text-decoration : none;
    transition      : all 0.3s ease 0s;
}

a,
a:active,
a:focus,
a:active {
    text-decoration : none;
    outline         : none
}



a:hover,
a:focus {
    color           : #3f25a9;
}


/* --------------------------------------------------
GENERAL
----------------------------------------------------- */
img {
	max-width: 100%
}

.alert {
	padding: 10px; 
}
/* ------------------------------------------------------------------
GLOBAL BUTTON STYLE
--------------------------------------------------------------------- */
/*common style for all btn*/
.btn {
	padding: 10px 27px;
	font-size: 12px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
	border-radius: 30px;
}


/*btn-primary*/
.btn-primary {
	background: transparent;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 0 0 2px #ededed;
	box-shadow: inset 0 0 0 2px #ededed;
	background-size: 150% 150%;
	-webkit-animation: BtnGradient 5s ease infinite;
	-o-animation: BtnGradient 5s ease infinite;
	animation: BtnGradient 5s ease infinite;
	color: #bfbfbf;
}


.btn-primary:hover, 
.active.btn-primary, 
.btn-primary:focus {
    border-radius: 40px !important;
    background-image: -webkit-linear-gradient(left, #2770d1 20%, #6b329a 88%);
    background-image: -o-linear-gradient(left, #2770d1 20%, #6b329a 88%);
    background-image: linear-gradient(to right, #2770d1 20%, #6b329a 88%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2770d1', endColorstr='#ff6b329a', GradientType=1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    outline: none !important;
    -webkit-box-shadow: inset 0 0 0 2px transparent;
    box-shadow: inset 0px 0px 0px 2px transparent;
    color: #fff;
}

/*IE9 Fixing*/
.ie9 .btn-primary:hover, 
.ie9 .btn-primary:focus, 
.ie9 .btn-primary:active, 
.ie9 .active.btn-primary, 
.ie9 .open > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #472abe;
    border-color: rgba(0, 0, 0, 0);
}

.btn:focus, 
.btn:active:focus{
	outline: none;
}



.btn-lg, 
.btn-group-lg>.btn {
	padding: 17px 65px;
	font-size: 14px;
	font-weight: 700;
}


/* --------------------------------------------------
LIST STYLE
----------------------------------------------------- */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ----------------------------------------------------------------
Form Style
-------------------------------------------------------------------*/
.form-control {
	height: 45px;
	box-shadow: none;
}

.form-control:focus {
	border-color: #6145d6;
	box-shadow: none;
}

/* --------------------------------------------------
SECTION
----------------------------------------------------- */

.section-padding {
   padding: 100px 0;
}

.section-title {
	position: relative;
	font-size: 28px;
	line-height: 44px;
	margin-bottom: 20px;
}

.section-title:after {
	position: absolute;
	content: " ";
	width: 61px;
	height: 15px;
	background: url(../img/star.png) no-repeat center center;
	bottom: 0;
	left: 50%;
	bottom: -20px;
	margin-left: -30px;
}

.content-row {
	margin-top: 60px;
}


/* ------------------------------------------------------------------
NAVIGATION
--------------------------------------------------------------------- */
@media(min-width:767px) {
	.navbar {
	    padding: 20px 0;
	}
	.navbar.sticky{
	    padding: 10px 0;
	}
	.navbar-nav {
		padding-top: 15px;
	}
	.sticky .navbar-nav {
		padding-top: 10px;
	}
}


.navbar.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 998;
}

.navbar {
	border: 0;
    border-radius: 0;
    margin: 0;
    background: #fff;
    box-shadow: 0 0 0 1px #ededed;
}


.navbar-brand {
    padding: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #8f8ca8;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0;
    border-bottom: 1px dotted transparent;
}
.navbar-default .navbar-nav li {
	margin-right: 30px;
}
.navbar-default .navbar-nav li:last-child {
	margin-right: 0;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus {
    color: #6145d6;
    background-color: transparent;
    border-bottom: 1px dotted #6145d6;
}
.navbar-default .navbar-nav>li>a:focus {
	color: #8f8ca8;
}



/*RESPONSIVE TOGGLE BUTTON*/
.navbar-toggle {
	border-radius: 50%;
	margin: 0;
	padding: 8px 12px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient(20deg, rgba(98, 34, 198, 0.7) 20%, rgba(51, 119, 222, 0.75) 90%);
	background-image: -o-linear-gradient(20deg, rgba(98, 34, 198, 0.7) 20%, rgba(51, 119, 222, 0.75) 90%);
	background-image: linear-gradient(20deg, rgba(98, 34, 198, 0.7) 20%, rgba(51, 119, 222, 0.75) 90%);
	color: #ffffff;
	width: 40px;
	height: 40px;
	border: 0;
}

.navbar-toggle:hover {
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(20deg, rgba(51, 119, 222, 0.7) 20%, rgba(98, 34, 198, 0.75) 90%);
  background-image: -o-linear-gradient(20deg, rgba(51, 119, 222, 0.7) 20%, rgba(98, 34, 198, 0.75) 90%);
  background-image: linear-gradient(20deg, rgba(51, 119, 222, 0.7) 20%, rgba(98, 34, 198, 0.75) 90%);
}

.ie9 .navbar-toggle {
	background-color: #8f8ca8;
}

.ie9 .navbar-default .navbar-toggle:hover, 
.ie9 .navbar-default .navbar-toggle:focus {
    background-color: #6145d6;
}

/*Logo*/
h1.logo {
    margin: 0;
    padding: 0;
}


/* ------------------------------------------------------------------
OUR SERVICES SECTION
--------------------------------------------------------------------- */
.service-content {
	border-right: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	padding-bottom: 85px;
}
.service-content:nth-child(2),
.service-content:nth-child(4) {
	border-right: 0;
}
.service-content:nth-child(3),
.service-content:nth-child(4) {
	padding-top: 80px;
	border-bottom: 0;
}


.service-content .media-left, 
.service-content .media>.pull-left {
	padding-right: 40px;
}

.service-content:nth-child(2) .media-left,
.service-content:nth-child(4) .media-left {
	padding-left: 50px;
}

.service-content:nth-child(1) .media-body,
.service-content:nth-child(3) .media-body{
	padding-right: 35px;
}

.service-content .media-heading {
	font-size: 21px;
	line-height: 44px;
	font-weight: 500;
}


.our-services .media a:hover {
	text-decoration: none;
}
.our-services .media i:before{
	font-size: 65px;
	line-height: 65px;
}
.service-content .btn {
	margin-top: 50px;
}


/* ------------------------------------------------------------------
Working-process
--------------------------------------------------------------------- */
.working-process {
    background-color: #f6f6f6;
}
.process-circle {
    height: 125px;
    width: 125px;
    padding: 4px;
    border-radius: 50%;
    display: inline-block;
    background: #f6f6f6;
    border: 1px solid #d0d0d0;
}

.process-circle a {
    height: 115px;
    width: 115px;
    line-height: 108px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #d0d0d0;
}
.process-circle a:hover {
    background-color: #fff;
    border: 1px dashed #d0d0d0;
}
.process-circle span {
    display: block;
    font-weight: 700;
    color: #414141;
    margin-top: 20px;
}
.circle-connector {
    margin-top: 60px;
    position: relative;
}

.circle-connector:before {
    content: "";
    width: 75%;
    height: auto;
    position: absolute;
    top: 40%;
    left: 13%;
    border-top: 1px solid #d0d0d0;
}



/* ------------------------------------------------------------------
Work Section
--------------------------------------------------------------------- */
.work-filter {
	margin: 60px 0 30px;
}
#filter {
    overflow: hidden;
}

#filter li {
	display: inline-block;
	position: relative;
	padding: 0px 17px;
}

#filter li:after {
	position: absolute;
	content: ":::";
	font-size: 15px;
	top: 0;
	right: 0;
	margin-right: -5px;
	color: #d0d0d0;
}
#filter li:last-child:after {
	content: "";
}

#filter li a {
    color: #6d6d6d;
    display: block;
    margin: 0 5px 0 0;
    cursor: pointer;
}
#filter li a:hover,
#filter li a.active {
    border-bottom: 1px dotted #707070;
    cursor: pointer;
    color: #6145d6;
    text-decoration: none;
}
.portfolio-item {
    margin-bottom: 30px;
    min-height: 270px;
}

/*portfolio hover effect*/
figure.css-hover-effect{
	background: #8c63d4; 
	background: -moz-linear-gradient(45deg,  #8c63d4 42%, #6d9ce5 88%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(42%,#8c63d4), color-stop(88%,#6d9ce5)); 
	background: -webkit-linear-gradient(45deg,  #8c63d4 42%,#6d9ce5 88%); 
	background: -o-linear-gradient(45deg,  #8c63d4 42%,#6d9ce5 88%);
	background: -ms-linear-gradient(45deg,  #8c63d4 42%,#6d9ce5 88%); 
	background: linear-gradient(45deg,  #8c63d4 42%,#6d9ce5 88%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c63d4', endColorstr='#6d9ce5',GradientType=1 ); 
	position: relative;
	overflow: hidden;

}

figure.css-hover-effect img {
	width: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.35s;
	-moz-transition: opacity 0.35s;
	-o-transition: opacity 0.35s;
	transition: opacity 0.35s;

}

figure.css-hover-effect:hover img {
	opacity: 0.2;

}

figure .figure-link {
	position: absolute;
	top: 20px;
	right: 20px;
}
figure .figure-link a i{
	width: 30px;
	height: 30px;
	display: block;
	background: #28176b;
	text-align: center;
	line-height: 30px;
	color: #fff;
	font-size: 18px;
	border-radius: 3px;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
}
figure .figure-link a:hover {
	text-decoration: none;
}
figure .figure-link a i:hover {
	background-color: #fff;
	color: #28176b;
}

figure .figure-info {
	position: absolute;
	bottom: 30%;
	left: 30px;
}
figure .figure-info h2{
	margin: 0;
	font-size: 21px;
	line-height: 22px;
	font-weight: 300;
}
figure .figure-info h2 a{
	color: #fff;
	text-decoration: none;
}

figure.css-hover-effect span{
	color: #f4f4f4;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
}

/*IE9 Fixing*/
.ie9 figure .figure-info {
	left: 60px
}
.ie9 figure .figure-info h2 {
	font-size: 16px;
}
.ie9 figure.css-hover-effect span {
	font-size: 10px;
}


figure.css-hover-effect h2,
figure.css-hover-effect span,
figure.css-hover-effect i{
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.css-hover-effect:hover h2,
figure.css-hover-effect:hover span,
figure.css-hover-effect:hover .figure-link i{
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}



/*portfolio modal style*/
.portfolioModal {}
.portfolioModal .modal-header {
	border: 0;
}
.portfolioModal .modal-body {
	padding: 15px 40px 45px;
}
.portfolioModal img{
	width: 100%;
}
.portfolioModal .modal-header .close {
	font-size: 30px;
	text-shadow: none;
	z-index: 1200;
	position: relative;
}
.portfolioModal .close:hover,
.portfolioModal .close:focus {
	color: #3f25a9;
	outline: none;
}

.portfolio-details blockquote {
	padding: 0 20px;
	margin: 20px 0 0;
	font-size: 14px;
	border-left: 5px solid #8f8ca8;
}
.portfolio-details blockquote:hover {
	border-left: 5px solid #6145d6;
}


.more-work-button {
	margin-top: 30px;
}



/* ------------------------------------------------------------------
TEAM SECTION
--------------------------------------------------------------------- */
.team-section {
	background-color: #f6f6f6;
}
.team-intro {
	margin-top: 40px;
}
.team-intro p {
	line-height: 30px;
	font-style: italic;
}

.star-devider {
	margin: 50px 0;
	text-align: center;
	position: relative;
}

.star-devider:before,
.star-devider:after {
	position: absolute;
	content: " ";
	width: 70px;
	height: 1px;
	top: 14px;
	background-color: #e7e7e7;
}
.star-devider:before {
	left: 50%;
	margin-left: 40px;
	
}
.star-devider:after {
	right: 50%;
	margin-right: 40px;
}


/*team-wrapper*/
.team-wrapper {
	margin-top: 60px;
}

.team-wrapper .figure-info h2 {
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}
.team-wrapper .figure-info h2 small {
	display: block;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	font-weight: 700;
}
.team-wrapper .figure-info {
	left: 0;
	width: 100%;
	bottom: 20%;
}
.ie9 .team-wrapper .figure-info {
	left: 0;
}
.team-wrapper .figure-link  {
	top: 40%;
	right: 50%;
	margin-right: -55px;
}


@media(max-width:768px) {
	.team-wrapper .figure-link  {
		top: 30%;
	}
}

.team-wrapper figure .figure-link a i {
	background-color: transparent;
}
.team-wrapper .figure-link i.fa {
	float: left;
	font-size: 30px;
}
.team-wrapper .figure-link .social-second i {
	margin-left: 50px;
	position: relative;
}
.team-wrapper .figure-link .social-second i:after {
	content: "";
	position: absolute;
	top: -20px;
	left: -28px;
	width: 1px;
	height: 70px;
	background-color: #fff;
}
.ie9 .team-wrapper .figure-link .social-second i:after {
	left: -14px;
}



/* ------------------------------------------------------------------
COUNTER SECTION
--------------------------------------------------------------------- */
.counter-section {
	background: url(../img/experiencetab.jpg) no-repeat center top fixed;
	-webkit-background-size: cover;
	background-size: cover;
}
.css-overlay {
    background-image: -webkit-linear-gradient(20deg, rgba(98, 34, 198, 0.5) 20%, rgba(51, 119, 222, 0.75) 90%);
	background-image: -o-linear-gradient(20deg, rgba(98, 34, 198, 0.5) 20%, rgba(51, 119, 222, 0.75) 90%);
	background-image: linear-gradient(20deg, rgba(98, 34, 198, 0.5) 20%, rgba(51, 119, 222, 0.75) 90%);
}

.counter-section strong {
    display: block;
    font-size: 48px;
    line-height: 50px;
    color: #fff;
}
span.count-description {
    display: block;
    color: #fff;
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: 700;
    opacity: 0.7;
}



/* ------------------------------------------------------------------
TESTIMONIAL SECTION
--------------------------------------------------------------------- */
#testimonial-carousel .carousel-inner img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
}
#testimonial-carousel .carousel-caption{
    position: static;
    font-size: 21px;
    line-height: 30px;
    font-style: italic;
    color: #97999f;
    text-shadow: none;
}
#testimonial-carousel .source-title {
    display: inline-block;
    margin: 40px 0 30px;
    font-size: 14px;
    color: #777;
    text-transform: uppercase;
    font-style: normal;
    position: relative;
}
#testimonial-carousel .source-title::before {
    content: "";
    background-color: #e9e9e9;
    width: 60px;
    height: 1px;
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -30px;
}
#testimonial-carousel .carousel-indicators {
    bottom: 0;
}

#testimonial-carousel .carousel-indicators li {
    background-color: #ededed;
    border: 1px solid #ededed;
}
#testimonial-carousel .carousel-indicators .active {
    background-color: #b0a2ea;
    border: 1px solid #b0a2ea;
}



/* ------------------------------------------------------------------
PARTNER SECTION
--------------------------------------------------------------------- */
.partner-section {
    background-color: #f6f6f6;
}
.partner-section img {
	margin: 0 auto;
	display: block;
}
.partner {
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}


.partner:nth-child(4),
.partner:nth-child(8) {
   border-right: 0; 
}
.partner:nth-child(5),
.partner:nth-child(6),
.partner:nth-child(7),
.partner:nth-child(8) {
    border-bottom: 0; 
}


/* ------------------------------------------------------------------
Blog Homepage Section
--------------------------------------------------------------------- */
#blog .blog-post-wrapper {
	background-color: #f5f5f5;
    margin-bottom: 30px;
}
.blog-post-wrapper a:hover {
	text-decoration: none;
}
#blog .entry-header {
    padding: 30px;
}
#blog .entry-header .entry-meta {
	margin-bottom: 0;
}
#blog .the-time a {
    color: #9b9b9b; 
    text-transform: capitalize;  
}
#blog .entry-title {
    font-size: 21px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
}
.entry-title a{
    color: #414141;
}
.entry-title a:hover{
    color: #3f25a9;
}
.post-thumbnail {
    position: relative;
}
.post-thumbnail img{
    width: 100%;
}
#blog .blog-post-wrapper .entry-footer{
	background-color: transparent;
}
#blog .entry-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 0 30px;
}
#blog .entry-footer ul {
    margin-top: 14px;
}
#blog .entry-footer li i.fa {
    font-size: 16px;
    margin-right: 3px;
}
#blog .the-comments {
    margin-right: 5px;
}
#blog .the-comments,
#blog .the-like {
    font-size: 12px;
    line-height: 22px;
}
#blog .the-comments a,
#blog .the-like a{
    color: #fff;
}
#blog .entry-footer .readmore i{
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    opacity: 1;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(20deg, rgba(98, 34, 198, 0.7) 20%, rgba(51, 119, 222, 0.75) 90%);
    background-image: -o-linear-gradient(20deg, rgba(98, 34, 198, 0.7) 20%, rgba(51, 119, 222, 0.75) 90%);
    background-image: linear-gradient(20deg, rgba(98, 34, 198, 0.7) 20%, rgba(51, 119, 222, 0.75) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#8c63d4', endColorstr='#6d9ce5');
}


#blog .entry-footer .readmore i:hover {
    opacity: .8;
}
#blog .more-post {
    margin-top: 30px;
}



/* ------------------------------------------------------------------
TWITTER FEED SECTION
--------------------------------------------------------------------- */
.twitter-feed-section {
    background-color: #f6f6f6;
}
.twitter-feed-section a:hover {
	text-decoration: none;
}

.twitter {
	font-size: 21px;
	line-height: 30px;
	font-style: italic;
}

p.timePosted {
	font-size: 14px;
	font-style: normal;
	margin-top: 60px;
	text-transform: uppercase;
	position: relative;
	padding-left: 24px;
	display: inline-block;
	margin-bottom: 0;
	left: 10%;
}
p.timePosted::before {
	content: "\f111";
	font-family: FontAwesome;
	position: absolute;
	top: 0;
	left: 6px;
	font-size: 7px;
	color: #6d6d6d;
}


.user img {
	display: none;
}
.user span:first-of-type {
	display: none;
}
.user span {
	bottom: 0;
	position: absolute;
	left: 34%;
	font-size: 14px;
	text-transform: uppercase;
	font-style: normal;
	color: #6d6d6d;
	display: block;
}




/* ------------------------------------------------------------------
CALL TO ACTION
--------------------------------------------------------------------- */
.call-to-action {
    text-align: center;
}
.call-to-action h2 {
    font-size: 28px;
    line-height: 39px;
    font-weight: 500;
}
.call-to-action .sub-title{
    display: block;
    font-size: 21px;
    line-height: 24px;
    font-weight: 300;
    font-style: italic;
    color: #97999f;
}
.call-to-action .btn {
    margin-top: 60px;
}



/* ----------------------------------------------------------------
FOOTER SECTION
-------------------------------------------------------------------*/
.footer-widget-wrapper {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(45deg, #3a2772 30%, #190b2e 75%);
    background-image: -o-linear-gradient(45deg, #3a2772 30%, #190b2e 75%);
    background-image: linear-gradient(45deg, #3a2772 30%, #190b2e 75%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#3a2772', endColorstr='#190b2e');
    color: #ffffff;
    padding: 100px 0 46px;
}


.footer-widget h3 {
    font-size: 12px;
    line-height: 12px;
    margin: 0 0 20px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.40);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-widget.footer-logo {
    padding: 40px 0 40px 50px;
    position: relative;
}
.footer-widget.footer-logo::after {
    content: "";
    background-color: rgba(255,255,255,.2);
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 35px;
}

.footer-widget a{
    font-size: 12px;
    line-height: 24px;  
    display: block;
    color: #fff;
}
.footer-widget a:hover{
    color: rgba(255, 255, 255, 0.40);
    text-decoration: underline;
}
.footer-widget address {
    font-size: 12px;
    line-height: 24px;
    color: #fff;  
}
.footer-widget address a,
.footer-widget a.feedback-modal {
	margin-top: 10px;
	font-size: 10px;
	padding: 1px 10px 0px;
	border: 1px solid rgba(255,255,255,0);
	display: inline-block;
	border-radius: 30px;
	background: rgba(255,255,255,.1);
	color: rgba(255,255,255,.5);
	text-transform: uppercase;
	line-height: 18px;
}


.footer-widget address a:hover,
.footer-widget a.feedback-modal:hover {
	border: 1px solid rgba(255,255,255,.2);	
	background: rgba(255,255,255,0);
	text-decoration: none;
}



.copyright {
    margin-top: 50px;
    background: url('../img/footer-star.png') no-repeat;
    background-position: center 0px;
    padding: 35px 0 0;
}
.copyright p{
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    color: rgba(255, 255, 255, 0.40);
    letter-spacing: 2px;
}

/* ----------------------------------------------------------------
Google Map on Modal
-------------------------------------------------------------------*/
#googleMap {
    height     : 400px;
}



/* ----------------------------------------------------------------
Bootstrap Modal
-------------------------------------------------------------------*/

.modal-content {
	border-radius: 0;
}
.modal-header {
	text-align: center;
} 

/* ----------------------------------------------------------------
Feedback Modal
-------------------------------------------------------------------*/
#feedModal .modal-body {
	padding: 30px;
}

#feedModal .modal-body .btn{
	margin: 30px auto;
	display: block;
}

#feedModal label {
	color: #6d6d6d;
}



/* ------------------------------------------------------------------
Blog Page
--------------------------------------------------------------------- */
.blog-page {
	padding-top: 100px;
}
.blog-page .blog-post-wrapper {
    background-color: #f5f5f5;
    margin-bottom: 90px;
}

@media(min-width:1199px) { 
	.blog-page .blog-post-wrapper {
	    margin-right: 70px;
	}
}

.entry-header {
    padding: 50px 50px 0;
}
.entry-title {
    line-height: 36px;
    margin: 0;
}
.entry-header .entry-meta {
	margin-bottom: 17px;
}
.entry-meta a {
	font-size: 12px;
	line-height: 44px;
	font-weight: 700;
	color: #b0b8bd;
	text-transform: uppercase;
}
.entry-meta a:hover {
	color: #6145d6;
}
.entry-content {
	padding: 0 50px 50px;
}
.entry-content p {
	margin-bottom: 30px;
}
.entry-content .btn {
	margin-top: 30px;
}
.blog-post-wrapper .entry-footer{
	background-color: #f0f0f0;
	padding: 30px 50px;
}

.social-share ul li a i{
    width: 34px;
    height: 34px;
    line-height: 33px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    border: 1px solid transparent;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.social-share ul li a i.fa-facebook {
    background: #375ca8;
}
.social-share ul li a i.fa-twitter {
    background: #2da5c8;
}
.social-share ul li a i.fa-dribbble {
    background: #b42069;
}
.social-share ul li a i.fa-google-plus {
    background: #da3113;
}
.social-share ul li a i:hover {
    background: transparent;
    color: #e1e1e1;
    border: 1px solid #e1e1e1;
}



/*Gallery image slider*/
.blog-post-wrapper .carousel-control {
	top: 50%;
	margin-top: -18px;
	width: 34px;
	height: 34px;
	font-size: 14px;
	line-height: 32px;
	box-shadow: inset 0 0 0 1px #ededed;
	border-radius: 50%;
	text-shadow: none;
	filter: alpha(opacity=100);
	opacity: 1;
}
.blog-post-wrapper .carousel-control.left,
.blog-post-wrapper .carousel-control.right {
	background-image: none;
}
.blog-post-wrapper .carousel-control.left{
	left: 30px;
}
.blog-post-wrapper .carousel-control.right {
	right: 30px;
}
.blog-post-wrapper .carousel-control:hover, 
.blog-post-wrapper .carousel-control:focus {
	box-shadow: inset 0 0 0 1px transparent;
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient(20deg, rgba(98, 34, 198, 0.7) 20%, rgba(51, 119, 222, 0.75) 90%);
	background-image: -o-linear-gradient(20deg, rgba(98, 34, 198, 0.7) 20%, rgba(51, 119, 222, 0.75) 90%);
	background-image: linear-gradient(20deg, rgba(98, 34, 198, 0.7) 20%, rgba(51, 119, 222, 0.75) 90%);
}
.ie9 .blog-post-wrapper .carousel-control:hover, 
.ie9 .blog-post-wrapper .carousel-control:focus {
	background-color: #3f25a9;
}


/*link post*/
.blog-post-wrapper.link-post {background-color: #6145d6}
.blog-post-wrapper.link-post h3{
	font-size: 24px;
	line-height: 36px;
	font-weight: 400;
	margin: 0;
}
.blog-post-wrapper.link-post h3 a{
	color: #fff;
}
.blog-post-wrapper.link-post .entry-header {
	padding: 50px;
}
.blog-post-wrapper.link-post .entry-footer {
	background-color: #5A3ECF;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
}
.blog-post-wrapper.link-post .entry-footer:hover {
	background-color: #4E36B2;
}
.blog-post-wrapper.link-post .entry-footer a{
	color: #fff;
}
.blog-post-wrapper.link-post .entry-footer a i{
	font-size: 26px;
}


/*PAGINATION*/
.pagination-wrap {
	margin-bottom: 60px;
}
.pagination>li>a, 
.pagination>li>span {
	margin-left: 10px;
	color: #e1e1e1;
	border: 1px solid #e1e1e1;
	border-radius: 50%;
	padding: 0;
	width: 30px;
	height: 30px;
	line-height: 28px;
}
.pagination>li>a:hover, 
.pagination>li>span:hover, 
.pagination>li>a:focus, 
.pagination>li>span:focus,
.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus {
	background-color: #6145d6;
	border-color: #6145d6;
	color: #fff;
}
.pagination>li:first-child>a, 
.pagination>li:first-child>span {
	margin-left: 0;
	margin-right: 30px;
	border-radius: 50%;
}
.pagination>li:last-child>a, 
.pagination>li:last-child>span {
	border-radius: 50%;
	margin-left: 30px;
}

/*PAGER*/
.pager li>a, 
.pager li>span {
	color: #6d6d6d;
	border: 0;
	-webkit-box-shadow: inset 0 0 0 1px #ededed;
	box-shadow: inset 0 0 0 1px #ededed;
}
.pager li>a:hover, 
.pager li>a:focus {
	background-size: 150% 150%;
	background-image: -webkit-linear-gradient(left, #6b329a 20%, #2770d1 88%);
	background-image: -o-linear-gradient(left, #6b329a 20%, #2770d1 88%);
	background-image: linear-gradient(to right, #6b329a 20%, #2770d1 88%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6b329a', endColorstr='#ff2770d1', GradientType=1);
	color: #ffffff !important;
	-webkit-box-shadow: inset 0 0 0 1px transparent;
	box-shadow: inset 0 0 0 1px transparent;
}

/* ----------------------------------------------------------------
SINGLE BLOG
-------------------------------------------------------------------*/
.blog-post-wrapper.single-article {
    padding: 0 0 40px;
    margin: 0 0 40px;
    border-bottom: 1px solid #e3e3e3;
}
.about-author .media img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}
.comments-wrapper {
    margin-top: 40px;
    margin-bottom: 60px;
}
.comments-wrapper ul.media-list {
    margin-bottom: 60px;
}
.comments-wrapper .media-list li{
    border: 1px solid #f0f0f0;
    padding: 30px;
    border-radius: 3px;
}
.comments-wrapper .media-left, 
.comments-wrapper .media>.pull-left {
    padding-right: 20px;
}
.comments-wrapper .media img {
    width: 80px;
    height: 80px;
    border-radius: 3px;
}
.media-body span.comment-author,
.media-body span.comment-date {
    font-size: 12px;
    margin-right: 10px;
    color: #999;
}
.media-body span.comment-author i,
.media-body span.comment-date i {
    margin-right: 5px;
}
.media-body span.comments-buttons {
    font-size: 12px;
    margin-top: 5px;
}
.media-body span.comments-buttons a{
    color: #999;
}
.media-body span.comments-buttons a:hover{
    color: #6145d6;
    text-decoration: none;
}



/*BLOG SIDEBAR*/
.sidebar-wrapper .widget{
    margin-bottom: 60px;
}
.sidebar-wrapper .widget ul li {
	margin-bottom: 18px;
}
.sidebar-wrapper .widget ul li:last-child {
	margin-bottom: 0;
}
.sidebar-wrapper .widget a{
    color: #6d6d6d;
    font-size: 14px;
    font-weight: 300;
}
.sidebar-wrapper .widget a:hover{
    text-decoration: none;
    color: #6145d6;
}
.widget .widget-title{
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
}

/*search widget*/
.sidebar-wrapper .widget.widget_search{
    border: 0;
}
.widget_search form {
    position: relative;
}
.widget_search form button i{
    color: #e1e1e1;
}
.widget_search form button:hover i{
    color: #6145d6;
}
.widget_search form button:focus {
    outline: none;
}
.widget_search form [type="submit"] {
	position: absolute;
	right: 0;
	top: 1px;
	width: 38px;
	height: 43px;
	border: none;
	border-left: 1px solid #e1e1e1;
	box-shadow: none;
	background: transparent;
}

/*popular widget*/
.widget_popular {}
.widget_popular .media  {
	margin-top: 20px;
}
.widget_popular .media-left a{
	position: relative;
	display: table-cell;
	float: left;
	margin: 2px 10px 0 0;
	width: 40px;
	height: 40px;
}
.widget_popular .media-left a:before {
	content: "\f0c1";
	font-family: FontAwesome;
	text-align: center;
	color: #fff;
	line-height: 40px;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient(20deg, rgba(98, 34, 198, 0.7) 20%, rgba(51, 119, 222, 0.75) 90%);
	background-image: -o-linear-gradient(20deg, rgba(98, 34, 198, 0.7) 20%, rgba(51, 119, 222, 0.75) 90%);
	background-image: linear-gradient(20deg, rgba(98, 34, 198, 0.7) 20%, rgba(51, 119, 222, 0.75) 90%);
	overflow: hidden;
	opacity: 0;
	-webkit-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}
.ie9 .widget_popular .media-left a:before {
	background-color: #3f25a9;
}
.widget_popular .media:hover .media-left a:before {
	opacity: 1;
}
.widget_popular .media img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.widget_popular .media h3{
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
}
.widget_popular .media span.the-time{
	font-size: 12px;
}
.widget_popular .media span.the-time a{
	color: #b0b8bd;
}
.widget_popular .media span.the-time a:hover{
	color: #6145d6;
}

/*tag cloud widget*/
.widget_tag_cloud {}
.widget_tag_cloud ul li{
	display: inline-block;
	margin: 0 8px 10px 0!important;
}
.widget_tag_cloud ul li a{
	background: transparent;
	-webkit-box-shadow: inset 0 0 0 1px #ededed;
	box-shadow: inset 0 0 0 1px #ededed;
	border-radius: 50px;
	color: #202020 !important;
	display: block;
	padding: 3px 15px 2px;
	font-size: 11px !important;
	-webkit-animation: BtnGradient 5s ease infinite;
	-o-animation: BtnGradient 5s ease infinite;
	animation: BtnGradient 5s ease infinite;
}
.widget_tag_cloud ul li a:hover{
	background-size: 150% 150%;
	background-image: -webkit-linear-gradient(left, #6b329a 20%, #2770d1 88%);
	background-image: -o-linear-gradient(left, #6b329a 20%, #2770d1 88%);
	background-image: linear-gradient(to right, #6b329a 20%, #2770d1 88%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6b329a', endColorstr='#ff2770d1', GradientType=1);
	color: #ffffff !important;
	text-decoration: none;
	-webkit-box-shadow: inset 0 0 0 1px transparent;
	box-shadow: inset 0 0 0 1px transparent;
}


/*twitter feed widget*/
.widget_twitter_feed {}
.widget_twitter_feed p{
	color: #202020;
	font-weight: 300;
}
.widget_twitter_feed p a{
	color: #6145d6 !important;
}
.widget_twitter_feed p a:hover{
	color: #3f25a9 !important;
}


/*flicker photo feed*/
.widget_flicker_photo {}
.widget_flicker_photo ul {}
.widget_flicker_photo ul li{
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 15px !important;
}
.widget_flicker_photo ul li:nth-child(4),
.widget_flicker_photo ul li:nth-child(8) {
	margin-right: 0;
}
.widget_flicker_photo ul li img{
	width: 54px;
	border-radius: 4px;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-ms-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
	border: 2px solid transparent;
}
.widget_flicker_photo ul li img:hover{
	border: 2px solid #6145d6;
}


/* ----------------------------------------------------------------
BLOG SINGLE PAGE
-------------------------------------------------------------------*/
@media(min-width:1199px) { 
	.about-author,
	.pagination-wrap,
	.comments-wrapper{
		margin-right: 70px;
	}

}


/* ----------------------------------------------------------------
Offcanvas Style
-------------------------------------------------------------------*/
.hippo-offcanvas-container{
	background: #27272C;
}
.hippo-offcanvas-pusher::after{
	z-index: 1200;
}
.offcanvas-menu{
	left: -1000px;
}
#off-canvas-close-btn{
	padding: 0px 20px;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	height: 62px;
	text-shadow: none;
	opacity: 1;
}
#off-canvas-close-btn:hover,
#off-canvas-close-btn:focus{
	color: #6145d6;
	outline: none;
}
.offcanvas-menu  h3{
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	background: rgba(0, 0, 0, 0.25);
	padding: 1em 1em 1em 1.2em;
	margin-bottom: 0;
}
.offcanvas-menu ul li a {
	display: block;
	padding: 1em 1em 1em 1.2em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 500;
	box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
}
.offcanvas-menu ul li li a {
    font-size   : 12px;
    font-weight : 400;
    padding-left: 30px;
}
.offcanvas-menu ul li a:hover,
.offcanvas-menu ul li.active a {
    background : rgba(0, 0, 0, 0.2);
    box-shadow : inset 0 -1px rgba(0, 0, 0, 0);
    color      : #6145d6;
    text-decoration: none;
}





/* ------------------------------------------------------------------
BACK TO TOP
--------------------------------------------------------------------- */
#toTop{
	position: fixed;
	bottom: 30px;
	right: 30px;
	color: #6145d6;
	cursor: pointer;
	display: none;
	z-index: 9999;
	font-size: 34px;
	line-height: 34px;
}


/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status,
.status-mes {
    background-image: url(../img/preloder.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}



/*-------------------------------------
 *  HERO SLIDER
 *-------------------------------------*/

.hero-slide .carousel-inner>.item>img, 
.hero-slide .carousel-inner>.item>a>img{
	min-width: 100%;
}

.hero-slide .container {
    position  : absolute;
    left      : 0;
    right     : 0;
    top       : 50%;
    transform : translateY(-50%);
    }

.hero-slide .carousel-caption {
    position    : relative;
    right       : 0;
    left        : 0;
    text-align  : left;
    text-shadow : none;
    width : 60%;
    }

.hero-slide .carousel-caption small {
    font-size       : 13px;
    color           : #777777;
    font-weight     : 500;
    animation-delay : 1s;
    }

.hero-slide .carousel-caption .phone {
    font-size               : 30px;
    color                   : #ff5722;
    -webkit-animation-delay : 100ms;
    animation-delay         : 100ms;
    }

.hero-slide .carousel-caption h1 {
    font-size               : 46px;
    line-height             : 1;
    font-weight             : bold;
    text-transform          : capitalize;
    margin                  : 30px 0 20px;
    -webkit-animation-delay : 150ms;
    animation-delay         : 150ms;
    color: #fff;
    }

.hero-slide .carousel-caption .lead {
    font-size               : 16px;
    color                   : #fff;
    font-weight             : normal;
    margin-bottom           : 30px;
    -webkit-animation-delay : 200ms;
    animation-delay         : 200ms;
    }

.hero-slide .carousel-caption .btn {
    -webkit-animation-delay : 250ms;
    animation-delay         : 250ms;
    }

/* Slider Controller */
.hero-slide .carousel-control.left,
.hero-slide .carousel-control.right {
    font-size   : 30px;
    width       : 30px;
    height      : 100px;
    line-height : 100px;
    top         : 50%;
    background  : #000000;
    cursor      : pointer;
    border      : 0;
    text-shadow : none;
    transform   : translateY(-50%);
    }

.hero-slide .carousel-control.left {
    left : -100%;
    }

.hero-slide .carousel-control.right {
    right : -100%;
    }

.hero-slide:hover .left {
    left : 0;
    }

.hero-slide:hover .right {
    right : 0;
    }

/* Slider Indicator*/
.hero-slide .carousel-indicators li {
    border  : 2px solid #fff;
    opacity : .5;
    }

.hero-slide .carousel-indicators li.active {
    border-color     : #fff;
    background-color : #fff;
    opacity          : 1;
    }

/*Media Query*/

@media (max-width : 1024px) {
    .hero-slide .carousel-caption h1 {
        font-size : 24px;
        margin-top: 10px;
        }

    .hero-slide .carousel-caption .lead{
        font-size: 16px;
        }

    .hero-slide .carousel-caption .btn{
        font-size: 12px;
        }

    .hero-slide .carousel-caption .phone{
        font-size: 18px;
        }
    .hero-slide .carousel-caption small{
        font-size: 11px;
        }

    .hero-slide .carousel-caption{
        padding: 40px 0;
        }
    }


@media (max-width : 768px) {

    .hero-slide .carousel-caption h1 {
        font-size : 18px;
        margin-top: 10px;
        }

    .hero-slide .carousel-caption .lead{
        font-size: 14px;
        }

    .hero-slide .carousel-caption .phone{
        font-size: 16px;
        line-height: 1;
        }

    .hero-slide .carousel-caption small{
        font-size: 10px;
        }

    .hero-slide .carousel-caption .btn{
        font-size: 12px;
        }
    }

@media (max-width : 600px) {
    .carousel-indicators{
        display: none;
        }

    .hero-slide .carousel-caption{
        width: 100%;
        text-align: center;
        padding: 30px;
        }

    .hero-slide .carousel-caption .lead{
        margin-bottom: 10px;
        }

    .hero-slide .carousel-caption .btn{
        font-size: 10px;
        padding: 5px 10px;
        border-width: 1px;
        }
    }

@media (max-width : 320px){
    .hero-slide{
        display: none;
        }
    }





/*BUTTON HOVER GRADIENT ANIMATION */
@-webkit-keyframes BtnGradient {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}
@-moz-keyframes BtnGradient {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}
@-o-keyframes BtnGradient {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}
@keyframes BtnGradient { 
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}
